<%- include('../common/head.ejs') %> 
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/auth.css">
</head>
<body>
  <div class="grid-container">
    <div class="background-pic"><img src="images/company.jpg" alt="">
    </div>
    <div class="grid-content">
      <div class="header-text">
        <%-include('../common/error.ejs')  %> 
        <h3 class="mini-logo">PandaHires</h3>
        <h1>Company Info</h1>
      </div>
      <form class="grid-form" action="">
        <input type="text" placeholder="Company Name" class="company-name" name="name">
        <div class="name error"></div>
        <!-- <label>Country</label> -->
        <input type="text" placeholder="Country" class="company-country" name="country">
        <div class="country error"></div>
        <!-- <label>Address</label> -->
        <input type="text" placeholder="Address" class="company-address" name="address">
        <div class="address error"></div>
        <!-- <label for="">Telephone</label> -->
        <input type="tel" placeholder="Telephone no." class="company-tel" name="tel">
        <div class="tel error"></div>
        <div class="button-wrapper">
          <button class="large-btn-submit" type="submit"><span>Sign up</span></button>
          <a href="" class="google-sign-in"></a>
        </div>
      </form>
    </div>
  </div>
  <script type="module" src="js/signupCompany.js"></script>
</body>
</html>