<%-include('../common/head.ejs')  %> 
  <link rel="stylesheet" href="css/common/layout.css">
  <link rel="stylesheet" href="css/auth/auth.css">
</head>
<body>
  <div class="grid-container">
    <div class="background-pic"><img src="images/signup.jpg" alt="">
    </div>
    <div class="grid-content">
      <div class="header-text">
        <a href="/"><h3 class="mini-logo">PandaHires</h3></a>
        <h1>Ready to become great at hiring?</h1>
      </div>

      <form class="grid-form" method="POST" enctype="multipart/form-data">
        <%-include('../common/error.ejs')  %> 
        <input type="text" placeholder="Your Name" class="user-name" name="name" required>
        <div class="name error"></div>

        <input type="text" placeholder="Your Position" class="user-position" name="position" required>
        <div class="position error"></div>

        <input type="email" placeholder="Email"  class="user-email" name="email" required>
        <div class="email error"></div>

        <input type="password" placeholder="Password" class="user-password" name="password" required>
        <div class="password error"></div>
    
        <div class="large-button-wrapper">
          <button class="large-btn-signup" type="submit"><span>Sign up</span></button>
          <a href="" class="google-sign-in"></a>
          <p>Already have an account? <a href="/signin">Sign in</a> </p>
        </div>
      </form>
      
    </div>
  </div>
  <script type="module" src="js/pages/auth/signup.js"></script>
</body>
</html>