<%- include('../common/head.ejs') %> 
  <link rel="stylesheet" href="css/common/layout.css">
  <link rel="stylesheet" href="css/auth/auth.css">
</head>
<body>
  <div class="grid-container">
    <div class="background-pic"><img src="images/company.jpg" alt="">
    </div>
    <div class="grid-content">
      <div class="header-text">
        <a href="/">
          <h3 class="mini-logo">PandaHires</h3>
        </a>
        <h1>Company Info</h1>
      </div>
      
      <form class="grid-form" action="">
        <%-include('../common/error.ejs')  %> 
        <input type="text" placeholder="Company Name" class="company-name" name="name">
        <div class="name error"></div>
        <input type="text" placeholder="Country" class="company-country" name="country">
        <div class="country error"></div>
        <input type="text" placeholder="Address" class="company-address" name="address">
        <div class="address error"></div>
        <input type="tel" placeholder="Telephone no." class="company-tel" name="tel">
        <div class="tel error"></div>
        <div class="large-button-wrapper">
          <button class="large-btn-submit" type="submit"><span>Sign up</span></button>
          <a href="" class="google-sign-in"></a>
        </div>
      </form>
    </div>
  </div>
  <script type="module" src="js/pages/auth/signupCompany.js"></script>
</body>
</html>