<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignIn | PandaHires </title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/signin.css">
</head>
<body>
  <div class="grid-container">
    <div class="background-pic"><img src="images/shawnang2.jpg" alt="">
    </div>
    <div class="grid-content">
      <div class="header-text">
        <h3 class="mini-logo">PandaHires</h1>
        <h1>Let's start hiring.</h1>
      </div>
      <form class="grid-form" action="">
        <input type="email" placeholder="Email"  class="user-email">
        <input type="password" placeholder="Password" class="user-password">
        <div class="other-options">
          <div class="remember-me">
            <input type="checkbox" id="user-remember-me">          
            <label for="user-remember-me">Keep me signed in</label>
          </div>
          <div class="help-link">
            <a href="">Forget your password?</a>
          </div>
        </div>
        <div class="button-wrapper">
          <button class="btn-signin" type="submit"><span>Sign in</span></button>
          <a href="" class="google-sign-in"></a>
          <p>Not a member yet? <a href="/user/signup">Sign up</a></p>
          
        </div>
      </form>
    </div>
    

    <script src="js/temp.js"></script>
  </div>
</body>
</html>