<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Company | Career </title>
  <link rel="stylesheet" href="css/bs-custom.css">
  <link rel="stylesheet" href="css/about-comapny.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
      <div class="container">
        <a class="navbar-brand" href="/career/company_name/about">Company Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/career/company_name/all_jobs">Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/career/company_name/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/career/company_name/team">Team</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="banner">
      <div class="grid-banner">
          <div class="company-logo">Company Logo</div>
          <!-- <img src="/public/images/company-img.jpg" class="company-img"> -->
          <div class="location"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg> Taiwan, Taipei</div>
      </div>
    </div>
    <div class="container">
      <div class="company who">
        <h2>WHO WE ARE</h2>
        <p>
          At xxx, we’re all about connection. We exist to help the gay, bi, trans & queer community connect and express themselves, and we believe connection and self-expression should be abundant in the workplace as well. We’re currently looking to build a team of talented, passionate, and open-minded people who want to join us in disrupting the dating app space, innovating product, and advancing queer culture.
        </p>
      </div>
      <hr>
      <div class="company what">
        <h2>WHAT WE VALUE
        </h2>
        <p>
          <ul>
            <li>Giving people the power to build community and bring the world closer together</li>
            <li>0 Feet Away
              We’re our users, and our users are at the center of everything we do
            </li>
            <li>Looking for Right Now
              Working together, inclined to action, making moves right now for a better future.
            </li>
            <li>Into Exploration
              Exploring ourselves, our identities, our communities, and the world.</li>
            <li>Our products empower more than 3 billion people around the world to share ideas and offer support.</li>
            
          </ul>
        </p>
      </div>
      <hr>
      <div class="company benefit">
        <h2>BENEFITS & PERKS</h2>
        <p>
          <ul>
            <li>100% employer-paid medical, dental, and vision premiums for employees</li>
            <li>E401k Matching(up to 6%)</li>
            <li>Remote-first working with one-time office stipend (US & Canada)</li>
            <li>Equity for all employees</li>
            <li>Monthly meal stipend to keep you fueled while working remotely</li>
            <li>Workshops, community projects, and legendary company parties</li>
            <li>Consultive Healthcare
              tailored to the specific need of LGBTQ employees</li>
            <li>Expanded access to HRT,
              shipped directly to 
              employees in eligible states</li>
            <li>Gender Affirmation Fund for transgender and gender
              non-conforming employees</li>
          </ul>
        </p>
      </div>


    </div>

  </main>
  <%- include('../common/footer.ejs') %>



  <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>