<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web Development Manager, Company Name </title>
  <link rel="stylesheet" href="css/bs-custom.css">
  <link rel="stylesheet" href="css/job-post.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
      <div class="container">
        <a class="navbar-brand" href="/career/company_name/about">Company Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/career/company_name/all_jobs">Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/career/company_name/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/career/company_name/team">Team</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>

    <div class="banner">
      <div class="grid-banner">
          <div class="company-logo">Company Logo</div>
          <div class="job-title">Web Development Manager</div>
          <div class="location"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg> Taiwan, Taipei</div>
          <div class="button-wrapper"><button class="small-btn-apply"><span>Apply to Job</span></button></div>
      </div>
    </div>
    <div class="container">
      <div class="jd job-detail">
        <p>
          The Reality Labs DTC Merchandising, Web Development and CX Team are responsible for driving innovative solutions to build, launch and optimize across our DTC surfaces. The team balances art and science while influencing within a highly matrixed organization. 
        </p>
        <p>The Reality Labs Web Development Team is looking for a Web Development Manager with experience driving seamless execution in building and maintaining quality content and high performing web pages within the confines of a Content Management System (CMS). This person will work closely with several cross functional partners including merchandising, marketing, internationalization and engineering.</p> 

        <p>This person will bring a solutions oriented approach in managing multiple work streams and competing business priorities while leading web initiatives through development to launch, ensuring site stability and a seamless customer experience.</p>
      </div>
      <hr>
      <div class="jd responsibility">
        <h2>Web Development Manager Responsibilities
        </h2>
        <p>
          <ul>
            <li>Manage regional content development & publishing on the web within Meta’s Content Management System in locations where Hindi is communicated in the community</li>
            <li>Drive seamless execution & launch of Regional Sales Promotions & Marketing Campaigns
            </li>
            <li>Support market expansion, quality assurance and stability of Meta.com
            </li>
            <li>Define technical requirements, workback timelines and scope detailed developer & engineering tasks for execution</li>
            <li>Perform ongoing site testing for quality assurance of performance, accessibility & customer experience
            </li>
            <li>Debug site issues and work closely with developers and engineers on resolving
            </li>
            <li>Establish detailed launch plans for web publishing and releases
            </li>
            <li>Review staged development work to ensure it meets code quality standards (HTML) and functions as expected for optimum customer experience</li>
            <li>Consistently build strong internal partnerships, influence through others, resolve conflict, build alignment, and work effectively across teams to execute strategy</li>
            <li>Collaborate closely with a diverse set of cross functional partners including Web Marketing Managers, DTC Merchandising, Creative, Product Management & Internationalization teams to develop & execute web initiatives</li>
            <li>Ensure implementations across the web align with team goals
            </li>
          </ul>
        </p>
      </div>
      <hr>
      <div class="jd min-qualifications">
        <h2>Minimum Qualifications</h2>
        <p>
          <ul>
            <li>5+ years experience leading large scale, consumer facing, ecommerce projects</li>
            <li>Excellent written, verbal communication and presentation skills</li>
            <li>Proficient in HTML / CSS</li>
            <li>Considerable experience working within Web Content Management Systems and managing content across multiple languages / countries</li>
            <li>Ability to prioritize, balance & execute competing deliverables</li>
            <li>Superb project management and ability to influence and drive momentum of initiatives that require contributions from several cross functional partners</li>
            <li>Proficiency in Hindi language is required because this role will manage quality assurance, testing and releases of the website in locations where Hindi is communicated in the community</li>
          </ul>
        </p>
      </div>


    </div>

  </main>
  <%- include('../common/footer.ejs') %>



  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/temp.js"></script>
</body>
</html>