<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Team | Career </title>
  <link rel="stylesheet" href="/css/bs-custom.css">
  <link rel="stylesheet" href="/css/about-comapny.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
      <div class="container">
        <a class="navbar-brand" href="/career/company_name/about">Company Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/career/company_name/all_jobs">Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/career/company_name/about">About</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link active" href="/career/company_name/team">Team</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <%- include('../common/company-banner.ejs') %>
    <div class="container my-5">
      <div class="card my-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/images/hr-img.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body ms-5">
              <h5 class="card-title">Panda</h5>
              <p class="card-text">HR Manager</p>
              <p class="card-text"></p>
              <button type="button" class="small-btn-contact mt-5">contact</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
  <%- include('../common/footer.ejs') %>




  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>