<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/css/careers/company-about.css">
</head>
<body>
  <%- include('./nav-careers.ejs') %>
  <main>
    <%- include('./banner-company.ejs') %>
    <div class="container">
      <div class="company who">
        <h2 class="title1"></h2>
        <p class="paragraph1"></p>
      </div>
      <hr>
      <div class="company what">
        <h2 class="title2"></h2>
        <p class="paragraph2"></p>
      </div>
      <hr>
      <div class="company benefit">
        <h2 class="title3"></h2>
        <p class="paragraph3"></p>
      </div>
    </div>

  </main>
  <%- include('../common/footer-power.ejs') %>
  <script type="module" src="/js/pages/careers/companyAbout.js"></script>


</body>
</html>