<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/css/careers/candidate-apply.css">

    <%- include('../common/post-job.ejs') %>
    <%- include('./candidate-apply.ejs') %>
    <%- include('../common/thankyou.ejs') %>

  </main>

  <%- include('../common/footer-power.ejs') %>

  <script type="module" src="/js/pages/careers/jobPost.js"></script>

</body>
</html>