<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/css/careers/job-openings.css">
</head>
<body>
  <%- include('./nav-careers.ejs') %>
  <main>
    <div class="container">
      <!-- Example single secondary button
      <div class="btn-group mb-3">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Location
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Remote-Taipei, Taiwan</a></li>
          <li><a class="dropdown-item" href="#">Remote-Seoul, Korea</a></li>
          <li><a class="dropdown-item" href="#"> London, UK</a></li>
          <li><a class="dropdown-item" href="#">Paris, France</a></li>
        </ul>
      </div>
      <div class="btn-group mb-3">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Job Type
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Full-time</a></li>
          <li><a class="dropdown-item" href="#">Part-time</a></li>
          <li><a class="dropdown-item" href="#">Contract</a></li>
          <li><a class="dropdown-item" href="#">Intern</a></li>
          <li><a class="dropdown-item" href="#">Temporary</a></li>
        </ul>
      </div>
      <div class="btn-group mb-3">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Department
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Product</a></li>
          <li><a class="dropdown-item" href="#">Accounting&Finance</a></li>
          <li><a class="dropdown-item" href="#">Engineering</a></li>
          <li><a class="dropdown-item" href="#">Legal & Business Affairs</a></li>
        </ul>
      </div> -->

        <div class="grid-list-group">
          <!-- <div class="team-group">
            <h2 class="team">ENGINEERING</h2>
            <a href="" class="grid-job-link " aria-current="true">
              <h3 class="name">Software Engineering</h3>
              <small class="updatedAt"> 2023-01-31</small>
              <div class="info"> 
                <span class="workType"> Remote</span> - 
                <span class="city">Taipei</span>, 
                <span class="country">Taiwan</span> | <span class="employmentType">Full-time</span>
              </div>
            </a>           
          </div> -->
        </div>
        
      </div>   

  </main>

  <%- include('../common/footer-power.ejs') %>
  <script type="module" src="/js/pages/careers/jobOpenings.js"></script>


</body>
</html>