<header class="primary-header">
  <div class="navbar">
    <div class="company-logo">
      <a href="" class="company-link" ></a>
    </div>
    <nav class="primary-nav">
      <ul class="nav-items">
        <li><a href="" class="nav-link">Jobs</a></li>
        <li><a href="" class="nav-link">About</a></li>
      </ul>
    </nav>
  </div>
</header>