<%- include('../common/head.ejs') %> 
  <link rel="stylesheet" href="/css/dashboard/dashboard.css">
</head>
<body>
  <%- include('../common/nav-recruiting.ejs') %>
  
  <main>
    <div class="container">
      <div class="fix-background"></div>
      <%-include('../common/error.ejs')  %> 

      <div class="panel-group">
        <input type="radio" name="radio" id="radio1" class="panel-control" checked>
        <label class="tab overview" for="radio1">OVERVIEW</label>
        <div class="content">
          <div class="sticky-wrapper">            
            <ul class="grid-th primary overview">
              <li>Job Name</li>
              <li>New Applications</li>
              <li>Incoming Interviews</li>
              <li>Offers</li>
            </ul>
            <ul class="grid-th secondary overview">
              <li>Today</li>
              <li>Past 7 Days</li>
              <li>Today</li>
              <li>Next 7 Days</li>
              <li>Past 7 Days</li>
            </ul>
          </div>
          <ul class="tbody-td overview">
          </ul>
        </div>
        <input type="radio" name="radio" id="radio2" class="panel-control">
        <label class="tab jobs" for="radio2">ALL JOBS</label>
        <div class="content jobs">
          <div class="sticky-wrapper jobs">
            <ul class="grid-th primary jobs">
              <li>Name</li>
              <li>Em. Type</li>
              <li>Work Type</li>
              <li>Applicants</li>
              <li>Interveiws</li>
              <li>Offered</li>
              <li>Last Updated</li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </li>
            </ul>
          </div>
          <ul class="tbody-td jobs">
          </ul>
        </div>
        <input type="radio" name="radio" id="radio3" class="panel-control">
        <label class="tab candidates"  for="radio3">ALL CANDIDATES</label>
        <div class="content">
          <div class="sticky-wrapper candidates">
            <form class="grid-form update" method="POST">
              <div class="label">Stage:</div>
              <select class="stage" name="name" id="" required>
                <option disabled label="SELECT A STAGE" selected  ></option>
                <option>New Application</option>
                <option>Forwarded</option>
                <option>Not Consider</option>
                <option>Under Consideration</option>
                <option>Contacted</option>
                <option>Interview</option>
                <option>1st Interview</option>
                <option>2nd Interview</option>
                <option>Final Interview</option>
                <option>Offered</option>
                <option>Rejected</option>
                <option>On Hold</option>
              </select>
              <select class="status" name="status" id="" disabled required>
                <option selected label="SELECT A STATUS"></option>
                <option>Scheduled</option>
                <option>To Be Rescheduled</option>
                <option>No Show</option>
                <option>Cancelled</option>
              </select>
              <input type="datetime-local" disabled name="interviewDate">
              <div class="mini-button-wrapper">
                <button class="mini-btn-update" type="submit"><span>Update</span> </button>
              </div>
            </form>
            <ul class="grid-th primary candidates">
              <li>Name / Applied Job</li>
              <li>Stage</li>
              <li>Status</li>
              <li>Interview</li>
              <li>Applied Date</li>
              <li>Origin</li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-person" viewBox="0 0 16 16">
                  <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z"/>
                </svg>
              </li>
            </ul>
          </div>
          <ul class="tbody-td candidates">
          </ul>
        </div>
      </div>
    </div>
  </main>
  <%- include('../common/footer.ejs') %>


  <script type="module" src="/js/pages/dashboard/dashboard.js"></script>

  
</body>
</html>