<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
  <header class="primary-header">
    <div>
      <!-- <img src="" alt="" class="logo"> -->
      <a href="/"><h1 class="mobile-logo">PandaHires</h1></a>
    </div>
    <input type="checkbox" id="toggle-expanded">
    <label for="toggle-expanded" class="mobile-nav-toggle">
      <svg fill="var(--blue)" class="hamburger" viewBox="0 0 100 100" width="40">
        <rect class="line top" width="80" height="8" x="10" y="30" rx="5"></rect>
        <rect class="line middle" width="80" height="8" x="10" y="50" rx="5"></rect>
        <rect class="line bottom" width="80" height="8" x="10" y="70" rx="5"></rect>
      </svg>
    </label>
    <div class="navbar" data-visible="false">
      <div>
        <!-- <img src="" alt="" class="logo"> -->
        <a href="/"><h1 class="logo">PandaHires</h1></a>
      </div>
      <nav class="primary-nav">
        <ul class="nav-items">
          <li class="active"><a href="">Products & solutions</a></li>
          <li><a href="">About us</a></li>
        </ul>
      </nav>
      <nav class="auth-nav">
        <ul class="nav-items">
          <li><a href="">Sign in</a></li>
          <li><a href="">Sign up</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="hero-section">
        <div class="hero-headline">
          <h1>Hiring software for people-first companies</h1>
          <p>PandaHires is the hiring operating system for people-first companies. Our software and structured hiring approach will help you get measurably better at hiring, so you have the technology and support you need to take on what’s next.</p>
        </div>
        <div class="hero-image">
          <img src='https://picsum.photos/id/1/200/300'>
        </div>
        <div class="hero-image">
          <img src='https://picsum.photos/id/7/200/300'>
        </div>
        <div class="hero-headline">
          <h1>Optimize every aspect of hiring with PandaHires Recruiting</h1>
          <p>PandaHires is the hiring operating system for people-first companies. Our software and structured hiring approach will help you get measurably better at hiring, so you have the technology and support you need to take on what’s next.</p>
        </div>

      </div>
      


    </div>
    
  </main>

  <script src="../public/js/script.js"></script>


  
</body>
</html>