<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PandaHires</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <%- include('./common/nav-home.ejs') %>

  <main>
    <div class="container">
      <div class="hero-section">
        <div class="hero-headline">
          <h1>Hiring software for people-first companies</h1>
          <p>PandaHires is the hiring operating system for people-first companies. Our software and structured hiring approach will help you get measurably better at hiring, so you have the technology and support you need to take on what’s next.</p>
        </div>
        <div class="hero-image">
          <img src='images/hero-1.jpg'>
        </div>
        <div class="hero-image">
          <img src='images/hero-2.jpg'>
        </div>
        <div class="hero-headline">
          <h1>Optimize every aspect of hiring with PandaHires Recruiting</h1>
          <p>PandaHires is the hiring operating system for people-first companies. Our software and structured hiring approach will help you get measurably better at hiring, so you have the technology and support you need to take on what’s next.</p>
        </div>

      </div>
      


    </div>
    
  </main>
  <%- include('./common/footer.ejs') %>
  <script src="js/main.js"></script> 
  
</body>
</html>