:root {
  --additional-drak: #1D1D21;
  --onyx: #3F403F;
  --black-coffee: #38302E;

  --baby-powder:#F7F7F2;
  --ivory: #FFFFF3;


  --additional-pumbkim: #80413E;
  --yellow: #F2CD5D;
  --dark-yellow: #DEA45B;
  
  --light-blue-gray: #CDD6DD;
  --green-blue: #BBDBD1;
  --cambridge-blue: #A7CDBD;
  --morning-blue: #9CAEA9;
  --blue-yonder: #607196;
  --space-cadet: #111D4A;

 
  --light-gray: #E6E8E6;
  --mid-gray: #CED0CE;
  --opal: #9FB8AD;
  --ash-gray: #CCDAD1;
  --battleship-grey: #788585;
  --dim-gray: #6F6866;
  --cultured: #E8E9ED;
  --sliver-chalice: #A0ACAD;


  --rifle-green: #475841;
  --green: #626D58;
  --artichoke: #869D7A;
  --pink-beige: #CCBCBC;


  --primary-cyan-70: #448899;
  --primary-cyan-50: #66AABB;
  --primary-cyan-20: #AADDEE;
  --secondary-gray-70: #666666;
  --secondary-gray-50: #757575;
  --secondary-gray-20: #E8E8E8;
  --secondary-gray-10: #F8F8F8;
  --additional-black: #000000;
  --additional-white: #FFFFFF;
  --additional-blue-gray: #AABBCC;
  --additional-gradient-dark-cyan: linear-gradient(270deg, #337788 0%, #66AABB 100%);
  --additional-gradient-ligtht-cyan: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
  --opacity-cyan-70:#448899ea;
  --shadow-gray: rgba(0, 0, 0, .4);
}