@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300;400;500&family=Bubbler+One&family=Crimson+Text:wght@400;600;700&family=Euphoria+Script&family=Libre+Baskerville:wght@400;700&family=Montez&family=Nunito:wght@300;400;600;700&family=Voltaire&display=swap');

@import url(color.css);


* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  color: var(--black-coffee);
  font-family: 'Nunito', sans-serif;
}
body {
  overflow-x: hidden;
}
[class*="grid-"] {
  display: grid;
}
a {
  text-decoration: none;
}
.primary-header {
  position: relative;
  padding: 1rem 0;
  box-shadow: 0 0 30px rgba(21, 55, 44, .1) ;

}
.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo, .mobile-logo {
  font-family: 'Alegreya Sans SC', sans-serif;
  /* font-family: 'Bubbler One', sans-serif; */
  /* font-family: 'Crimson Text', serif; */
  /* font-family: 'Euphoria Script', cursive; */
  /* font-family: 'Libre Baskerville', serif; */
  /* font-family: 'Montez', cursive; */
  /* font-family: 'Nunito', sans-serif; */
  /* font-family: 'Voltaire', sans-serif; */
  /* margin: 0 2rem; */
  color: var(--green);
  font-weight: 400;
}

.primary-nav .nav-items {
  font-size: 18px;
}
.nav-items {
  display: flex;
  gap: 2.5rem;
}
.nav-items a {
  /* margin-inline-end: 0.75em; */
  color: var(--black-coffee);
}
.auth-nav .nav-items{
  gap: 1.5rem
}

.auth-nav a {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  border: 1px solid var(--rifle-green);
  border-radius: 100px;
  color: var(--rifle-green);
}

.mobile-logo, .mobile-nav-toggle, #toggle-expanded {
  display: none;
}

.container {
  max-width: 1240px;
  margin: auto;
}

.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 0 3rem ; */
  padding: 3rem;
  /* grid-template-areas: 
  " headline image"
  " headline image"
  ; */
}

.hero-headline {
  display: grid;
  padding: 2rem 3rem 2rem 1rem;
  /* grid-template-rows: min-content; */
  gap: 2rem;
  /* grid-area: headline; */
}
.hero-headline h1 {
  font-family: 'Libre Baskerville', serif;
  align-self: end;
  font-size: 50px;
  font-weight: 500;
}

.hero-headline:nth-child(even) {
  padding: 2rem 0 2rem 3rem; 
}

.hero-image{
  /* grid-area: image; */
}
.hero-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.primary-nav a {
  transition: all 300ms 200ms;
}
.primary-nav a:hover {
  color: var(--artichoke);
  border-bottom: 1px solid var(--artichoke);

}
.auth-nav a:hover {
  background-color: var(--rifle-green);
  color: var(--baby-powder);
}

footer {
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 70px;
  padding: 1rem 4rem;
  color: var(--light-gray);
  background-color: var(--green);
}

@media (max-width: 767px) {
  .mobile-logo {
    display: block;
    margin-left: 2rem;
  }
  .logo {
    color: var(--ivory);
  }
  .navbar {
    position: fixed;
    inset: 0;
    flex-direction:  column;
    padding: min(30vh, 1rem) 3em;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5rem;
    transform: translateX(100%);
  }
  .navbar::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: rgb(183, 183, 183);
    left: 0px;
    top: 73px;
    margin: auto;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 3;
    aspect-ratio: 1;
    top: 1rem;
    right: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
  .line {
    transition:
      y 300ms ease-in 300ms, 
      transform 300ms ease-in,
      opacity 0ms 300ms,
      fill 300ms ease-in 300ms;
    transform-origin: center;
  }
  #toggle-expanded:checked ~ .mobile-nav-toggle .line {
    transition: 
    y 300ms ease-in,
    transform 300ms ease-in 300ms,
    opacity 0ms 300ms;
  }
  #toggle-expanded:checked ~ .mobile-nav-toggle .hamburger{
    fill:var(--light-gray)
  }
  #toggle-expanded:checked ~ .mobile-nav-toggle :is(.top, .bottom) {
    y: 45px;
  }
  #toggle-expanded:checked ~ .mobile-nav-toggle .top {
    transform: rotate(45deg);
  }
  #toggle-expanded:checked ~ .mobile-nav-toggle  .middle {
    opacity: 0;
  }
  #toggle-expanded:checked ~ .mobile-nav-toggle .bottom {
    transform: rotate(-45deg);
  }

  #toggle-expanded:checked ~ .navbar {
    transform: translateX(0%);
    background-color: var(--artichoke);
    transition: transform 350ms ease-out;
  }

  /* .navbar[data-visible="true"] {
    transform: translateX(0%);
  } */

  .primary-nav a {
    font-size: 22px;
  }

  .nav-items a {
    color: var(--baby-powder);
  }
  .nav-items {
    flex-direction: column;
  }

  .auth-nav{
    align-self: center;

  }
  .auth-nav a {
    width: 70vw;
    border: 1px solid var(--ivory);
  }

  .hero-section {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "headline"
    "image";
  }

}