<header class="primary-header">
  <div>
    <!-- <img src="" alt="" class="logo"> -->
    <a href="/"><h1 class="mobile-logo">PandaHires</h1></a>
  </div>
  <input type="checkbox" id="toggle-expanded">
  <label for="toggle-expanded" class="mobile-nav-toggle">
    <svg fill="var(--blue)" class="hamburger" viewBox="0 0 100 100" width="40">
      <rect class="line top" width="80" height="8" x="10" y="30" rx="5"></rect>
      <rect class="line middle" width="80" height="8" x="10" y="50" rx="5"></rect>
      <rect class="line bottom" width="80" height="8" x="10" y="70" rx="5"></rect>
    </svg>
  </label>
  <div class="navbar">
    <div>
      <a href="/"><h1 class="logo">PandaHires</h1></a>
    </div>
    <!-- <nav class="primary-nav">
      <ul class="nav-items">
        <li class="active"><a href="">Products & solutions</a></li>
        <li><a href="">About us</a></li>
      </ul>
    </nav> -->
    <nav class="auth-nav">
      <ul class="nav-items">
        <li><a class="signin">Sign in</a></li>
        <li><a href="signup">Sign up</a></li>
      </ul>
    </nav>
  </div>
</header>