@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300;400;500&family=Bubbler+One&family=Merriweather:wght@300;400;700&family=Crimson+Text:wght@400;600;700&family=Euphoria+Script&family=Libre+Baskerville:wght@400;700&family=Poppins:wght@300;400;500;600;700&family=Montez&family=Nunito:wght@300;400;600;700&family=Voltaire&display=swap');

@import url(../util/color.css);
@import url(../util/button.css);
@import url(./error.css);


* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  color: var(--primary-text-color);
  font-family: 'Poppins', sans-serif;
}

body {
  padding-top: 70px;
}

[class*="grid-"] {
  display: grid;
}

.container {
  max-width: 1200px;
  margin: 3rem auto;
}

a {
  text-decoration: none;
}

.primary-header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  padding: 15px 0;
  box-shadow: 0 0 30px rgba(21, 55, 44, .1) ;
  background-color: var(--secondary-button-background);
  z-index: 5;
}

.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo-item {
  margin-right: 2rem;
}

.logo {
  font-family: 'Alegreya Sans SC', sans-serif;
  color: white;
  font-weight: 400;
  font-size: 25px;
}

nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-items li {
  color: var(--secondary-text-color);
}

.primary-items {
  gap: 2.5rem;
  margin-right: 1rem;
}

.primary-nav a {
  transition: all 300ms 200ms;
}

.bi-gear, .bi-plus-lg {
  fill: var(--third-text-color)
}

.bi-gear:hover {
  fill: var(--secondary-text-color);
}

.settings {
  display: flex;
  align-items: center;
}

.link {
  color: var(--third-text-color);
}

.link:hover {
  color: var(--secondary-text-color);
}

.user-menu a{
  display: flex;
  align-items: center;
}

.secondary-items {
  margin-right: 1.5rem;
  gap: 1.5rem;
}

.secondary-items a {
  padding: 8px 18px;
  color: var(--secondary-text-color);
  text-align: center;
  border: 1px solid var(--secondary-text-color);
  border-radius: 100px;
  font-size: 15px;
}

.secondary-items a:hover {
  background-color: var(--primary-button-backgrond);
  color: var(--primary-button-color);
}

.profile-toggle {
  text-align: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-background-color);
  border-radius: 50%;
  font-size: 28px;
  text-transform: uppercase;
  color: aliceblue;
  cursor: pointer;
  box-shadow: 0 3px 6px 0 var(--shadow-gray);
}

#toggle-expanded, .user-menu, .mobile-menu-items {
  display: none;
}

.user-menu {
  position: absolute;
  z-index: 4;
  top: 135%;
  right: 0;
  padding: min(30vh, 1rem) 0;
  border: 1px solid var(--secondary-border-color);
  background-color: var(--white-background-color);
  box-shadow: 0 3px 6px 0 var(--shadow-gray);
  border-radius: 0 0 10px 10px;
  transform: translateX(-200%); 
  transition: all 350ms ease-out 300ms;
}

.user-menu a {
  color: var(--black-coffee);
  font-size: 16px;
  transition: all 350ms ease-out;
}

.user-menu a:hover {
  font-weight: 500;
}

.menu-items {
  padding: 0 15px;
  font-size: 18px;
  border-radius: 10px;
}

.menu-items li {
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--secondary-border-color);
}

.menu-items a {

  font-weight: 400;
}

#toggle-expanded:checked ~ .user-menu {
  display: block;
  transform: translateX(0%);
}

footer {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 1rem 4rem;
  color: var(--footer-third-color);
  background-color: var(--footer-primary-background-color);
  font-size: 14px;
}

@media (max-width: 850px) {
  .settings, .secondary-items {
    display: none;
  }

  .user-menu {
    left: 0;
    padding: min(30vh, 1rem) 3em;
    transform: translateX(100%);
  }

  .user-menu a:hover{
    transform: translateX(18px);
  }

  .mobile-menu-items {
    padding: 0 15px;
    font-size: 18px;
    border-radius: 10px;
  }

  .mobile-menu-items li, .menu-items li {
    text-align: start;
    padding: 1rem;
    border-bottom: 1px solid var(--secondary-border-color);
  }

  .mobile-menu-items a {
    color: var(--primary-text-color);
    font-weight: 400;
  }

  #toggle-expanded:checked ~ .user-menu .mobile-menu-items {
    display: block;
    transform: translateX(0%);
    transition: all 350ms ease-out;
  } 

  .menu-items {
    text-align: start;
  }
}

@media (max-width: 490px) {
  .logo-item {
    margin-right: 1rem;
  }
  nav, .primary-items {
    gap: 1rem;
    margin-right: 0;
  }
  
}