<div class="banner">
  <div class="grid-banner">
    <div class="company-logo">Company Logo</div>
    <!-- <img src="/public/images/company-img.jpg" class="company-img"> -->
    <div class="location"><img src="/icons/location.svg" alt="location icon"> Taiwan, Taipei</div>
  </div>
</div>