<%- include('../common/head.ejs') %> 
<link rel="stylesheet" href="/css/candidate/candidate-form.css">
</head>
<body>
  <%- include('../common/nav-recruiting.ejs') %>
  <main>
    <div class="container">
      <h2 class="header">Add A Candidate</h2>
      <div class="card">
          <form action="" method="POST" enctype="multipart/form-data">
            <div class="grid-form">
              <label class="label">APPLY FOR <small style="color: red;">*</small></label>
              <select name="jobId" required>
                <option selected disabled value="" label="SELECT A JOB"></option>
              </select>
              <label class="label">ORIGIN <small style="color: red;">*</small></label>
              <div class="form-group">
                <select class="origin" name="origin" id="" required>
                  <option selected disabled label="SELECT AN ORIGIN"></option>
                  <option>Sourced</option>
                  <option>Referred</option>
                  <option>Agency</option>
                  <option>Campaign</option>
                  <option>Event</option>
                </select>
                <input type="text" class="origin-name" name="originName" placeholder="SPECIFIY THE SOURCE NAME" required>
              </div>
              <label class="label">FIRST NAME <small style="color: red;">*</small></label>
              <input type="text" name="firstName" placeholder="FISRT NAME" required>
              <label class="label"> LAST NAME <small style="color: red;">*</small></label>
              <input type="text" name="lastName" placeholder="LAST NAME" required>
              <label class="label">EMAIL <small style="color: red;">*</small></label>
              <input type="email" name="email" placeholder="EMAIL ADDRESS" required>
              <label class="label">PHONE NO. <small style="color: red;">*</small></label>
              <input type="tel" name="phone" placeholder="CONTACT NUMBER" required>
              <label class="label">CURRENT LOCATION <small style="color: red;">*</small></label>
              <div class="form-group">
                <input type="text" class="country" name="country" placeholder="COUNTRY" required>
                <input type="text" class="city" placeholder="CITY" name="city" required>
              </div>
              <label class="label">RESUME/CV <small style="color: red;">*</small> <small>( File type: PDF only )</small></label>
              <div class="form-group">                
                <label for="pdf" class="resume btn">ATTACH RESUME / CV </label><input type="file" accept=".pdf" id="pdf" name="resume" required>
                <div class="preview"></div>
              </div>
              <label class="label" >LINKEDIN</label>
              <input type="text" name="linkedin" placeholder="LINKEDIN URL">
              <label class="label" >WEBSITE</label>
              <input type="text" name="website" placeholder="WEBSITE URL">
              <label class="label" >GITHUB</label>
              <input type="text" name="github" placeholder="GITHUB URL">
            </div>
            <div class="button-wrapper">
              <a href="javascript: history.go(-1)" class="btn-back"><span>Back</span></a>
              <button type="submit" class="btn-submit"><span> Create</span></button>
            </div>
            <%-include('../common/error.ejs')  %> 
          </form>
      </div>
    </div>
  </main>

  <%- include('../common/footer.ejs') %>

  <script type="module"  src="/js/pages/candidate/addCandidateForm.js"></script>
</body>
</html>