<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/layout.css">
  <link rel="stylesheet" href="css/dashboard.css">
  <title>My Dashboard | PandaHires </title>
</head>
<body>
  <%- include('../common/dashboard-nav.ejs') %>
  
  <main>
    <div class="container">
      <div class="panel-group">
        <input type="radio" name="radio" id="radio1" class="panel-control" checked>
        <label for="radio1">All Jobs</label>
        <div class="content">
          <ul class="grid-job-listing">
            <li>
              <a href="">Software Engineer, Systems ML </a>
              <div class="button-wrapper">
                <a class="mini-btn-edit" href="/user/edit_job">Edit</a>
                <button class="mini-btn-close">Close</button>
              </div>
            </li>
            <li>
              <a href="">Senior Software Engineer, Backend </a>
              <div class="button-wrapper">
                <a class="mini-btn-edit" href="/user/edit_job">Edit</a>
                <button class="mini-btn-close">Close</button>
              </div>
            </li>
            <li>
              <a href="">Sr. Product Designer </a>
              <div class="button-wrapper">
                <a class="mini-btn-edit" href="">Edit</a>
                <button class="mini-btn-close">Close</button>
              </div>
            </li>
            <li>
              <a href="">IT Specialist (Hybrid) </a>
              <div class="button-wrapper">
                <a class="mini-btn-edit" href="">Edit</a>
                <button class="mini-btn-close">Close</button>
              </div>
            </li>
            <li>
              <a href="">Principal Product Designer </a>
              <div class="button-wrapper">
                <a class="mini-btn-edit" href="">Edit</a>
                <button class="mini-btn-close">Close</button>
              </div>
            </li>
            <li>
              <a href="">Principal Product Manager, Ads </a><div class="button-wrapper">
                <a class="mini-btn-edit" href="">Edit</a>
                <button class="mini-btn-close">Close</button>
              </div>
            </li>
            <li>
              <a href="">Senior Financial Analyst </a><div class="button-wrapper">
                <a class="mini-btn-edit" href="">Edit</a>
                <button class="mini-btn-close">Close</button>
              </div>
              
            </li>
            <li>
              <a href="">Director of Accounting </a><div class="button-wrapper">
                <a class="mini-btn-edit" href="">Edit</a>
                <button class="mini-btn-close">Close</button>
              </div>
              
            </li>
            <li>
              <a href="">Senior Securities Counsel </a><div class="button-wrapper">
                <a class="mini-btn-edit" href="">Edit</a>
                <button class="mini-btn-close">Close</button>
              </div>
              
            </li>
            <li>
              <a href="">Director of Engineering </a><div class="button-wrapper">
                <a class="mini-btn-edit" href="">Edit</a>
                <button class="mini-btn-close">Close</button>
              </div>
              
            </li>
            <li>
              <a href="">Network Engineer, Infrastructure Networks</a><div class="button-wrapper">
                <a class="mini-btn-edit" href="">Edit</a>
                <button class="mini-btn-close">Close</button>
              </div>
              
            </li>
          </ul>
         </div>
        <input type="radio" name="radio" id="radio2" class="panel-control">
        <label for="radio2">All Candidates</label>
        <div class="content">
          <ul class="grid-job-listing">
            <li>
              <a href="">Henry Nalle</a>
              <div class="button-wrapper">
                <a class="mini-btn-edit" href="#">View</a>
              </div>
            </li>
            <li>
              <a href="">Munir Estevane </a>
              <div class="button-wrapper">
                <a class="mini-btn-edit" href="#">View</a>
              </div>
            </li>
            <li>
              <a href="">Parth Patel </a>
              <div class="button-wrapper">
                <a class="mini-btn-edit" href="">View</a>
              </div>
            </li>
            <li>
              <a href="">Waddie Grant </a>
              <div class="button-wrapper">
                <a class="mini-btn-edit" href="">View</a>
              </div>
            </li>
            <li>
              <a href="">Thomas Mao</a>
              <div class="button-wrapper">
                <a class="mini-btn-edit" href="">View</a>
              </div>
            </li>
            <li>
              <a href="">Emi Agg </a><div class="button-wrapper">
                <a class="mini-btn-edit" href="">View</a>
              </div>
            </li>
            <li>
              <a href="">Kelvin Peng</a><div class="button-wrapper">
                <a class="mini-btn-edit" href="">View</a>
              </div>
              
            </li>
            <li>
              <a href="">Vimal Earnest</a><div class="button-wrapper">
                <a class="mini-btn-edit" href="">View</a>
              </div>
              
            </li>
            <li>
              <a href="">Jeff Bonforte </a><div class="button-wrapper">
                <a class="mini-btn-edit" href="">View</a>
              </div>
            </li>
            <li>
              <a href="">Mike Berg </a><div class="button-wrapper">
                <a class="mini-btn-edit" href="">View</a>
              </div>
            </li>
            <li>
              <a href="">Cecilia Samson</a><div class="button-wrapper">
                <a class="mini-btn-edit" href="">View</a>
              </div>
            </li>
          </ul>
        </div>
        <input type="radio" name="radio" id="radio3" class="panel-control">
        <label for="radio3">Applications to Review</label>
        <div class="content">NOT DONE YET
        </div>
        <input type="radio" name="radio" id="radio4" class="panel-control">
        <label for="radio4">Candidates to Schedule</label>
        <div class="content">NOT DONE YET</div>
        <input type="radio" name="radio" id="radio5" class="panel-control"
        ><label for="radio5">Others</label>
        <div class="content">NOT DONE YET</div>
        </div>
    </div>
  </main>
  <%- include('../common/footer.ejs') %>

  
</body>
</html>