<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/job-form.css">
  <link rel="stylesheet" href="css/bs-custom.css">
  <title> Edit Job Post | PandaHires </title>
</head>
<body>
  <header class="primary-header">
    <%- include('../common/bs-nav.ejs') %>
   
  </header>
  <main>
    <div class="container mt-5">
      <h2>Edit Your Post</h2>
      <div class="card my-5">
        <div class="card-header">JOB INFO</div>
        <form class="row g-4 m-2 needs-validation" novalidate>
          <div class="col-md-12">
            <label for="job-name" class="form-label">Job Name</label>
            <input type="text" class="form-control" id="job-name" value="Software Engineer, Systems ML" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-6">
            <label for="department" class="form-label">Department</label>
            <input type="text" class="form-control" id="department" value="Engineering" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-6">
            <label for="location" class="form-label">Office Location</label>
            <div class="input-group mb-3">
              <span class="input-group-text">Country</span>
              <input type="text" class="form-control" id="country" value="Taiwan" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <span class="input-group-text">City</span>
              <input type="text" class="form-control" id="city" value="Taipei" required>
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>
            <div class="form-check form-switch ms-1">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
              <label class="form-check-label" for="flexSwitchCheckChecked">Able to work remotely</label>
            </div>
          </div>
          <div class="col-md-4">
            <label for="employment-type" class="form-label">Employment Type</label>
            <select class="form-select" id="employment-type" required>
              <option selected disabled value="Full-time">Select an option</option>
              <option>Full-time</option>
              <option>Part-time</option>
              <option>Contract</option>
              <option>Intern</option>
              <option>Temporary</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid state.
            </div>
          </div>
          <div class="col-md-4">
            <label for="opening-reason" class="form-label">Reason for Opening</label>
            <select class="form-select" id="opening-reason" required>
              <option selected disabled value="Add">Select an Option</option>
              <option>Add</option>
              <option>Replacement</option>
              <option>Contract</option>
              <option>Intern</option>
              <option>Temporary</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid state.
            </div>
          </div>

          <div class="col-md-4">
            <label for="job-name" class="form-label">Hiring Manger</label>
            <input type="text" class="form-control" id="job-name" value="Panda" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-12">
            <label class="form-label" for="floatingTextarea2">Job Description</label>
            <textarea class="form-control" placeholder="Job Details" id="floatingTextarea2" style="height: 100px">We are seeking an AI Software Engineer to join our Research & Development teams. The ideal candidate will have industry experience working on AI Infrastructure related topics. The position will involve taking these skills and applying them to solve for some of the most crucial & exciting problems that exist on the web. We are hiring in multiple locations.</textarea>
          </div>
          <div class="col-12">
            <label class="form-label" for="floatingTextarea2">Responsibility</label>
            <textarea class="form-control" placeholder="Job Responsibility" id="floatingTextarea2" style="height: 100px">
            * Apply relevant AI and machine learning techniques to build & optimize our intelligent systems that improve Metas products and experiences	
            * Assist in goal setting related to project impact, AI system design, and ML excellence
            * Drive large efforts across multiple teams
            * Mentor other AI Engineers & improve the quality of AI work in the broader team	
            * Develop custom/novel architectures, define use cases, and develop methodology & benchmarks to evaluate different approaches	
            * Apply in depth knowledge of how the machine learning system interacts with the other systems around it</textarea>
          </div>
          <div class="col-12">
            <label class="form-label" for="floatingTextarea2">Minimum Qualifications</label>
            <textarea class="form-control" placeholder="Qualifications" id="floatingTextarea2" style="height: 100px">
            * Experience developing AI algorithms or AI-System infrastructure in C/C++ or Python
            * Bachelor's degree in Computer Science, Computer Engineering, relevant technical field, or equivalent practical experience
            * Specialized experience in one or more of the following machine learning/deep learning domains: ML systems: AI infrastructure, machine learning accelerators, high performance computing, machine learning compilers, GPU architecture, machine learning frameworks, on-device optimization	</textarea>
          </div>
          <div class="col-12">
            <label class="form-label" for="floatingTextarea2">Preferred Qualifications (optional)</label>
            <textarea class="form-control" placeholder="" id="floatingTextarea2" style="height: 100px"></textarea>
          </div>
          <div class="d-grid gap-3 d-md-flex justify-content-md-end mt-5 mb-3">
            <a href="/user/dashboard" class="btn btn-primary" type="submit">Cancel </a>
            <button class="btn btn-primary" id="temp-btn" type="submit">Preview </button>
          </div>
        </form>
      </div>
     
    </div>
  </main>
  <%- include('../common/footer.ejs') %>
  <script src="js/bootstrap.bundle.min.js"></script>
  <!-- <script src="js/form.js"></script> -->
  <script src="js/temp.js"></script>
</body>
</html>