<%- include('../common/head.ejs') %> 
  <link rel="stylesheet" href="css/job-form.css">
  <link rel="stylesheet" href="css/bs-custom.css">
  <link rel="stylesheet" href="css/bs-footer.css">
</head>
<body>
  <header class="primary-header">
  <%- include('../common/bs-nav.ejs') %>
  </header>
  <main>
    <div class="container mt-5">
      <h2>Create A Job Post</h2>
      <div class="card my-5">
        <div class="card-header">JOB INFO</div>
        <form class="row g-4 m-2 needs-validation">
          <div class="col-md-12">
            <label for="job-name" class="form-label">Job Name <small style="color: red;">*</small></label>
            <input type="text" class="form-control" id="job-name" name="name" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-6">
            <label for="team" class="form-label">Team <small style="color: red;">*</small></label>
            <input type="text" class="form-control" id="team" name="team" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-6">
            <label for="location" class="form-label">Office Location <small style="color: red;">*</small></label>
            <div class="input-group mb-3">
              <span class="input-group-text">Country</span>
              <input type="text" class="form-control" id="country" name="country" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <span class="input-group-text">City</span>
              <input type="text" class="form-control" id="city" name="city" required>
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label class="form-label">Work Type <small style="color: red;">*</small></label>
            <div class="input-group">
              <div class="form-check me-3">
                <input class="form-check-input" type="radio" name="workType" id="flexRadioDefault1" value="remote" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                  Remote
                </label>
              </div>
              <div class="form-check me-3">
                <input class="form-check-input" type="radio" name="workType" id="flexRadioDefault2" value="onsite">
                <label class="form-check-label" for="flexRadioDefault2">
                  Onsite
                </label>
              </div>
              <div class="form-check me-3">
                <input class="form-check-input" type="radio" name="workType" id="flexRadioDefault3" value="hybird">
                <label class="form-check-label" for="flexRadioDefault3">
                  Hybird
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="employment-type" class="form-label">Employment Type <small style="color: red;">*</small></label>
            <select class="form-select" id="employment-type" name="employmentType" required>
              <option selected disabled value="">Select an option</option>
              <option>Full-time</option>
              <option>Part-time</option>
              <option>Contract</option>
              <option>Intern</option>
              <option>Temporary</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid state.
            </div>
          </div>
          <div class="col-md-6">
            <label for="opening-reason" class="form-label">Reason for Opening <small style="color: red;">*</small></label>
            <select class="form-select" id="opening-reason" name="reason" required>
              <option selected disabled value="">Select an Option</option>
              <option>Add</option>
              <option>Replacement</option>
              <option>Contract</option>
              <option>Intern</option>
              <option>Temporary</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid state.
            </div>
          </div>

          <div class="col-md-6">
            <label for="hm-email" class="form-label">Hiring Manger Email <small style="color: red;">*</small></label>
            <input type="email" class="form-control" id="hm-email" name="hiringManagerEmail" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-12">
            <label class="form-label" for="jd">Job Description <small style="color: red;">*</small></label>
            <textarea class="form-control" placeholder="Job Details" id="jd" style="height: 200px" name="description" required></textarea>
          </div>
          <div class="col-12">
            <label class="form-label" for="responsibilities">Responsibilities <small style="color: red;">*</small></label>
            <textarea class="form-control" placeholder="Job Responsibilities" id="responsibility" style="height: 200px" name="responsibilities" required></textarea>
          </div>
          <div class="col-12">
            <label class="form-label" for="qualifications">Minimum Qualifications <small style="color: red;">*</small></label>
            <textarea class="form-control" placeholder="Qualifications" id="qualifications" style="height: 200px" name="qualifications"></textarea>
          </div>
          <div class="col-12">
            <label class="form-label" for="preferred">Preferred Qualifications </label>
            <textarea class="form-control" placeholder="Preferred Qualification" id="preferred" style="height: 200px" name="preferred"></textarea>
          </div>
          <div class="d-grid gap-3 d-md-flex justify-content-md-end mt-5 mb-3">
            <a href="/recruiting/dashboard" class="btn btn-primary" type="submit">Cancel </a>
            <button class="btn btn-primary" type="submit"> Preview Job </button>
          </div>
        </form>
      </div>
    </div>
    
  </main>
  <%- include('../common/footer.ejs') %>

  <script src="/js/bootstrap.bundle.min.js"></script>

  <!-- <script src="js/temp.js"></script> -->
  <script type="module" src="/js/navDashboard.js"></script>
  <script type="module" src="/js/jobForm.js"></script>
</body>
</html>