<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>  </title>
  <link rel="stylesheet" href="/css/bs-custom.css">
  <link rel="stylesheet" href="/css/job-post.css">
</head>
<body>
  <%- include('../common/nav-company.ejs') %>
  <main>
    <div class="banner">
      <div class="grid-banner">
          <!-- <div class="company-logo"><%=companyName %></div> -->
          <div class="job-title"></div>
          <div class="location"><img src="/icons/location.svg" alt="location icon">  <span></span> </div>
          <div class="button-wrapper"><button class="small-btn-apply"><span>Apply to Job</span></button></div>
      </div>
    </div>
    <div class="container my-5">
      <div class="jd job-detail">
        <p>
          
        </p>
      </div>
      <hr>
      <div class="jd responsibilities">
        <h2>Responsibilities
        </h2>
        <p>
          
        </p>
      </div>
      <hr>
      <div class="jd min-qualifications">
        <h2>Minimum Qualifications</h2>
        <p>
          
        </p>
      </div>
      <div class="jd preferred-qualifications">
        <h2>Preferred Qualifications</h2>
        <p>
          
        </p>
      </div>
      <div class="d-grid gap-3 d-md-flex justify-content-md-end mt-5 mb-3">
        <a href="javascript: history.go(-1)" class="btn btn-primary back" type="submit">Back</a>
        <button class="btn btn-primary publish" id="post-btn" type="submit">Publish </button>
      </div>
    </div>
    <%-include('../common/error.ejs')  %> 
  </main>


  <%- include('../common/footer.ejs') %>



  <script src="/js/bootstrap.bundle.min.js"></script>
  <script type="module" src="/js/preview.js"></script>
  <!-- <script src="/js/temp.js"></script> -->
</body>
</html>