:root {
  --primary-button-color: #475841;
  --primary-button-backgrond:white;
  --secondary-button-color: #FFFFF3;
  --secondary-button-background: #475841;
  --third-button-color: #F7F7F2;
  --third-button-background: #F7F7F2;
  --small-button-background: #ECECECE1;
  --close-button-color: #6F6866;
  --inactive-button-color: #CED0CE;


  --header-text-color: #3F403F;
  --success-text-color: #70855b;
  --small-text-color: #6F6866;
  --primary-text-color: #38302E;
  --secondary-text-color: #FFFFF3;
  --third-text-color: #A0ACAD;
  --forth-text-color: #515357;
  --fifth-text-color: #869D7A;
  --another-text-color: #868383;
  --additional-text-color: #E6E8E6 ;
  --logo-text-color: #626D58;


  --primary-background-color: #CCDAD1;
  --secondary-background-color: #9CAEA9;
  --third-background-color:#fafafa;
  --forth-background-color:#E8E9ED;
  --fifth-background-color: #CDD6DD8F;
  --six-background-color: #869D7A ;
  --additional-background-color: #A0ACAD;
  --small-background-color: #CDD6DD;
  --small-active-background-color: #9FB8AD;
  --white-background-color: white;


  --footer-primary-color: #9FB8AD;
  --footer-secondary-color:#9CAEA9;
  --footer-third-color: #E6E8E6;
  --footer-primary-background-color: #475841;
  --footer-secondary-background-color: #626D58;
  --footer-third-background-color: #FAFAFA;


  --primary-border-color: #FFFFF3;
  --secondary-border-color: #475841;
  --third-border-color: #111D4A;

  
  --shadow-gray: rgba(0, 0, 0, .4);
}